.fr {
  background-color: burlywood;
  color: cadetblue;
}
.ve {
  background-color: bisque;
  color: cadetblue;
}
.fl {
  background-color: beige;
  color: coral;
}
.oi {
  background-color: blanchedalmond;
  color: crimson;
}
.ap {
  background-color: sandybrown;
  color: aqua;
}
.to {
  background-color: red;
  color: brown;
}
.wh {
  background-color: wheat;
  color: whitesmoke;
}
.re {
  background-color: darkcyan;
  color: darkgoldenrod;
}
.ba {
  background-color: yellow;
  color: gray;
}
.br {
  background-color: darkblue;
  color: violet;
}
.co {
  background-color: cornsilk;
  color: cornflowerblue;
}
.pa {
  background-color: olive;
  color: oldlace;
}
.gra {
  background-color: lightgreen;
  color: green;
}
.ca {
  background-color: chartreuse;
  color: darkgray;
}
.ma {
  background-color: mintcream;
  color: moccasin;
}
.gr {
  background-color: orangered;
  color: yellowgreen;
}
